@charset "UTF-8";
@import url("font.css");
header {
  height: 120px;
  width: 100%;
}

.title {
  font-size: 48px;
}

.title::after {
  content: '文字';
  display: block;
}

body {
  background-color: #f7c4c4;
  font-size: 18px;
  margin: 10px 20px 10px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

header {
  height: 120px;
  width: 100%;
}

.modal {
  width: 100px;
}

body .container header {
  height: 120px;
}

body .container header .logo {
  width: 100px;
  height: 100px;
}

body .container footer {
  height: 300px;
}

a {
  color: #f20;
}

a:hover {
  color: #c61a00;
}

a::after {
  content: 'content';
}

a::before {
  content: 'before';
}

.box {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 14px;
  font-weight: 300;
  margin: 0 auto;
}

.box01 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}

.box_rect {
  width: 200px;
  height: 300px;
  background-color: #f7c4c4;
}

.box_rects {
  width: 100vw;
  height: 100vh;
}

.btn-wide {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #ffae9b;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-wide:hover {
  color: #fff;
  background-color: #ff5b35;
}

.btn-default {
  width: 120px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #2a5e0c;
}

.btn-default:hover {
  color: #fff;
  background-color: #020400;
}

.text {
  text-align: center;
  width: 100px;
  height: 20px;
  border: 1px solid #333;
  font-size: 20px;
  color: #8bff43;
}

.aa {
  margin: 40px;
  background-image: url("./images/aa.jpg");
}

.aa {
  width: 20;
  height: 6px;
  margin: 50px;
  font: 2px;
}

.bb {
  width: 20px;
}

.box-1 {
  width: 1px;
}

.box-2 {
  width: 2px;
}

.box-3 {
  width: 3px;
}

.box-4 {
  width: 4px;
}

.box-5 {
  width: 5px;
}

.box-6 {
  width: 6px;
}

.box-7 {
  width: 7px;
}

.box-8 {
  width: 8px;
}

.box-9 {
  width: 9px;
}

.box-10 {
  width: 10px;
}

.push-top-1 {
  position: relative;
  top: 1px;
  display: block;
}

.push-top-2 {
  position: relative;
  top: 2px;
  display: block;
}

.push-top-3 {
  position: relative;
  top: 3px;
  display: block;
}

.push-top-4 {
  position: relative;
  top: 4px;
  display: block;
}

.push-top-5 {
  position: relative;
  top: 5px;
  display: block;
}

.push-top-6 {
  position: relative;
  top: 6px;
  display: block;
}

.push-top-7 {
  position: relative;
  top: 7px;
  display: block;
}

.push-top-8 {
  position: relative;
  top: 8px;
  display: block;
}

.push-top-9 {
  position: relative;
  top: 9px;
  display: block;
}

.push-top-10 {
  position: relative;
  top: 10px;
  display: block;
}

.push-top-11 {
  position: relative;
  top: 11px;
  display: block;
}

.push-top-12 {
  position: relative;
  top: 12px;
  display: block;
}

.push-top-13 {
  position: relative;
  top: 13px;
  display: block;
}

.push-top-14 {
  position: relative;
  top: 14px;
  display: block;
}

.push-top-15 {
  position: relative;
  top: 15px;
  display: block;
}

.push-top-16 {
  position: relative;
  top: 16px;
  display: block;
}

.push-top-17 {
  position: relative;
  top: 17px;
  display: block;
}

.push-top-18 {
  position: relative;
  top: 18px;
  display: block;
}

.push-top-19 {
  position: relative;
  top: 19px;
  display: block;
}

.push-top-20 {
  position: relative;
  top: 20px;
  display: block;
}

.push-top-21 {
  position: relative;
  top: 21px;
  display: block;
}

.push-top-22 {
  position: relative;
  top: 22px;
  display: block;
}

.push-top-23 {
  position: relative;
  top: 23px;
  display: block;
}

.push-top-24 {
  position: relative;
  top: 24px;
  display: block;
}

.push-top-25 {
  position: relative;
  top: 25px;
  display: block;
}

.push-top-26 {
  position: relative;
  top: 26px;
  display: block;
}

.push-top-27 {
  position: relative;
  top: 27px;
  display: block;
}

.push-top-28 {
  position: relative;
  top: 28px;
  display: block;
}

.push-top-29 {
  position: relative;
  top: 29px;
  display: block;
}

.push-top-30 {
  position: relative;
  top: 30px;
  display: block;
}

.push-top-31 {
  position: relative;
  top: 31px;
  display: block;
}

.push-top-32 {
  position: relative;
  top: 32px;
  display: block;
}

.push-top-33 {
  position: relative;
  top: 33px;
  display: block;
}

.push-top-34 {
  position: relative;
  top: 34px;
  display: block;
}

.push-top-35 {
  position: relative;
  top: 35px;
  display: block;
}

.push-top-36 {
  position: relative;
  top: 36px;
  display: block;
}

.push-top-37 {
  position: relative;
  top: 37px;
  display: block;
}

.push-top-38 {
  position: relative;
  top: 38px;
  display: block;
}

.push-top-39 {
  position: relative;
  top: 39px;
  display: block;
}

.push-top-40 {
  position: relative;
  top: 40px;
  display: block;
}

.push-top-41 {
  position: relative;
  top: 41px;
  display: block;
}

.push-top-42 {
  position: relative;
  top: 42px;
  display: block;
}

.push-top-43 {
  position: relative;
  top: 43px;
  display: block;
}

.push-top-44 {
  position: relative;
  top: 44px;
  display: block;
}

.push-top-45 {
  position: relative;
  top: 45px;
  display: block;
}

.push-top-46 {
  position: relative;
  top: 46px;
  display: block;
}

.push-top-47 {
  position: relative;
  top: 47px;
  display: block;
}

.push-top-48 {
  position: relative;
  top: 48px;
  display: block;
}

.push-top-49 {
  position: relative;
  top: 49px;
  display: block;
}

.push-top-50 {
  position: relative;
  top: 50px;
  display: block;
}

.push-top-51 {
  position: relative;
  top: 51px;
  display: block;
}

.push-top-52 {
  position: relative;
  top: 52px;
  display: block;
}

.push-top-53 {
  position: relative;
  top: 53px;
  display: block;
}

.push-top-54 {
  position: relative;
  top: 54px;
  display: block;
}

.push-top-55 {
  position: relative;
  top: 55px;
  display: block;
}

.push-top-56 {
  position: relative;
  top: 56px;
  display: block;
}

.push-top-57 {
  position: relative;
  top: 57px;
  display: block;
}

.push-top-58 {
  position: relative;
  top: 58px;
  display: block;
}

.push-top-59 {
  position: relative;
  top: 59px;
  display: block;
}

.push-top-60 {
  position: relative;
  top: 60px;
  display: block;
}

.push-top-61 {
  position: relative;
  top: 61px;
  display: block;
}

.push-top-62 {
  position: relative;
  top: 62px;
  display: block;
}

.push-top-63 {
  position: relative;
  top: 63px;
  display: block;
}

.push-top-64 {
  position: relative;
  top: 64px;
  display: block;
}

.push-top-65 {
  position: relative;
  top: 65px;
  display: block;
}

.push-top-66 {
  position: relative;
  top: 66px;
  display: block;
}

.push-top-67 {
  position: relative;
  top: 67px;
  display: block;
}

.push-top-68 {
  position: relative;
  top: 68px;
  display: block;
}

.push-top-69 {
  position: relative;
  top: 69px;
  display: block;
}

.push-top-70 {
  position: relative;
  top: 70px;
  display: block;
}

.push-top-71 {
  position: relative;
  top: 71px;
  display: block;
}

.push-top-72 {
  position: relative;
  top: 72px;
  display: block;
}

.push-top-73 {
  position: relative;
  top: 73px;
  display: block;
}

.push-top-74 {
  position: relative;
  top: 74px;
  display: block;
}

.push-top-75 {
  position: relative;
  top: 75px;
  display: block;
}

.push-top-76 {
  position: relative;
  top: 76px;
  display: block;
}

.push-top-77 {
  position: relative;
  top: 77px;
  display: block;
}

.push-top-78 {
  position: relative;
  top: 78px;
  display: block;
}

.push-top-79 {
  position: relative;
  top: 79px;
  display: block;
}

.push-top-80 {
  position: relative;
  top: 80px;
  display: block;
}

.push-top-81 {
  position: relative;
  top: 81px;
  display: block;
}

.push-top-82 {
  position: relative;
  top: 82px;
  display: block;
}

.push-top-83 {
  position: relative;
  top: 83px;
  display: block;
}

.push-top-84 {
  position: relative;
  top: 84px;
  display: block;
}

.push-top-85 {
  position: relative;
  top: 85px;
  display: block;
}

.push-top-86 {
  position: relative;
  top: 86px;
  display: block;
}

.push-top-87 {
  position: relative;
  top: 87px;
  display: block;
}

.push-top-88 {
  position: relative;
  top: 88px;
  display: block;
}

.push-top-89 {
  position: relative;
  top: 89px;
  display: block;
}

.push-top-90 {
  position: relative;
  top: 90px;
  display: block;
}

.push-top-91 {
  position: relative;
  top: 91px;
  display: block;
}

.push-top-92 {
  position: relative;
  top: 92px;
  display: block;
}

.push-top-93 {
  position: relative;
  top: 93px;
  display: block;
}

.push-top-94 {
  position: relative;
  top: 94px;
  display: block;
}

.push-top-95 {
  position: relative;
  top: 95px;
  display: block;
}

.push-top-96 {
  position: relative;
  top: 96px;
  display: block;
}

.push-top-97 {
  position: relative;
  top: 97px;
  display: block;
}

.push-top-98 {
  position: relative;
  top: 98px;
  display: block;
}

.push-top-99 {
  position: relative;
  top: 99px;
  display: block;
}

.push-top-100 {
  position: relative;
  top: 100px;
  display: block;
}

.push-bottom-1 {
  position: relative;
  bottom: 1px;
}

.push-bottom-2 {
  position: relative;
  bottom: 2px;
}

.push-bottom-3 {
  position: relative;
  bottom: 3px;
}

.push-bottom-4 {
  position: relative;
  bottom: 4px;
}

.push-bottom-5 {
  position: relative;
  bottom: 5px;
}

.push-bottom-6 {
  position: relative;
  bottom: 6px;
}

.push-bottom-7 {
  position: relative;
  bottom: 7px;
}

.push-bottom-8 {
  position: relative;
  bottom: 8px;
}

.push-bottom-9 {
  position: relative;
  bottom: 9px;
}

.push-bottom-10 {
  position: relative;
  bottom: 10px;
}

.push-bottom-11 {
  position: relative;
  bottom: 11px;
}

.push-bottom-12 {
  position: relative;
  bottom: 12px;
}

.push-bottom-13 {
  position: relative;
  bottom: 13px;
}

.push-bottom-14 {
  position: relative;
  bottom: 14px;
}

.push-bottom-15 {
  position: relative;
  bottom: 15px;
}

.push-bottom-16 {
  position: relative;
  bottom: 16px;
}

.push-bottom-17 {
  position: relative;
  bottom: 17px;
}

.push-bottom-18 {
  position: relative;
  bottom: 18px;
}

.push-bottom-19 {
  position: relative;
  bottom: 19px;
}

.push-bottom-20 {
  position: relative;
  bottom: 20px;
}

.push-bottom-21 {
  position: relative;
  bottom: 21px;
}

.push-bottom-22 {
  position: relative;
  bottom: 22px;
}

.push-bottom-23 {
  position: relative;
  bottom: 23px;
}

.push-bottom-24 {
  position: relative;
  bottom: 24px;
}

.push-bottom-25 {
  position: relative;
  bottom: 25px;
}

.push-bottom-26 {
  position: relative;
  bottom: 26px;
}

.push-bottom-27 {
  position: relative;
  bottom: 27px;
}

.push-bottom-28 {
  position: relative;
  bottom: 28px;
}

.push-bottom-29 {
  position: relative;
  bottom: 29px;
}

.push-bottom-30 {
  position: relative;
  bottom: 30px;
}

.push-bottom-31 {
  position: relative;
  bottom: 31px;
}

.push-bottom-32 {
  position: relative;
  bottom: 32px;
}

.push-bottom-33 {
  position: relative;
  bottom: 33px;
}

.push-bottom-34 {
  position: relative;
  bottom: 34px;
}

.push-bottom-35 {
  position: relative;
  bottom: 35px;
}

.push-bottom-36 {
  position: relative;
  bottom: 36px;
}

.push-bottom-37 {
  position: relative;
  bottom: 37px;
}

.push-bottom-38 {
  position: relative;
  bottom: 38px;
}

.push-bottom-39 {
  position: relative;
  bottom: 39px;
}

.push-bottom-40 {
  position: relative;
  bottom: 40px;
}

.push-bottom-41 {
  position: relative;
  bottom: 41px;
}

.push-bottom-42 {
  position: relative;
  bottom: 42px;
}

.push-bottom-43 {
  position: relative;
  bottom: 43px;
}

.push-bottom-44 {
  position: relative;
  bottom: 44px;
}

.push-bottom-45 {
  position: relative;
  bottom: 45px;
}

.push-bottom-46 {
  position: relative;
  bottom: 46px;
}

.push-bottom-47 {
  position: relative;
  bottom: 47px;
}

.push-bottom-48 {
  position: relative;
  bottom: 48px;
}

.push-bottom-49 {
  position: relative;
  bottom: 49px;
}

.push-bottom-50 {
  position: relative;
  bottom: 50px;
}

.push-bottom-51 {
  position: relative;
  bottom: 51px;
}

.push-bottom-52 {
  position: relative;
  bottom: 52px;
}

.push-bottom-53 {
  position: relative;
  bottom: 53px;
}

.push-bottom-54 {
  position: relative;
  bottom: 54px;
}

.push-bottom-55 {
  position: relative;
  bottom: 55px;
}

.push-bottom-56 {
  position: relative;
  bottom: 56px;
}

.push-bottom-57 {
  position: relative;
  bottom: 57px;
}

.push-bottom-58 {
  position: relative;
  bottom: 58px;
}

.push-bottom-59 {
  position: relative;
  bottom: 59px;
}

.push-bottom-60 {
  position: relative;
  bottom: 60px;
}

.push-bottom-61 {
  position: relative;
  bottom: 61px;
}

.push-bottom-62 {
  position: relative;
  bottom: 62px;
}

.push-bottom-63 {
  position: relative;
  bottom: 63px;
}

.push-bottom-64 {
  position: relative;
  bottom: 64px;
}

.push-bottom-65 {
  position: relative;
  bottom: 65px;
}

.push-bottom-66 {
  position: relative;
  bottom: 66px;
}

.push-bottom-67 {
  position: relative;
  bottom: 67px;
}

.push-bottom-68 {
  position: relative;
  bottom: 68px;
}

.push-bottom-69 {
  position: relative;
  bottom: 69px;
}

.push-bottom-70 {
  position: relative;
  bottom: 70px;
}

.push-bottom-71 {
  position: relative;
  bottom: 71px;
}

.push-bottom-72 {
  position: relative;
  bottom: 72px;
}

.push-bottom-73 {
  position: relative;
  bottom: 73px;
}

.push-bottom-74 {
  position: relative;
  bottom: 74px;
}

.push-bottom-75 {
  position: relative;
  bottom: 75px;
}

.push-bottom-76 {
  position: relative;
  bottom: 76px;
}

.push-bottom-77 {
  position: relative;
  bottom: 77px;
}

.push-bottom-78 {
  position: relative;
  bottom: 78px;
}

.push-bottom-79 {
  position: relative;
  bottom: 79px;
}

.push-bottom-80 {
  position: relative;
  bottom: 80px;
}

.push-bottom-81 {
  position: relative;
  bottom: 81px;
}

.push-bottom-82 {
  position: relative;
  bottom: 82px;
}

.push-bottom-83 {
  position: relative;
  bottom: 83px;
}

.push-bottom-84 {
  position: relative;
  bottom: 84px;
}

.push-bottom-85 {
  position: relative;
  bottom: 85px;
}

.push-bottom-86 {
  position: relative;
  bottom: 86px;
}

.push-bottom-87 {
  position: relative;
  bottom: 87px;
}

.push-bottom-88 {
  position: relative;
  bottom: 88px;
}

.push-bottom-89 {
  position: relative;
  bottom: 89px;
}

.push-bottom-90 {
  position: relative;
  bottom: 90px;
}

.push-bottom-91 {
  position: relative;
  bottom: 91px;
}

.push-bottom-92 {
  position: relative;
  bottom: 92px;
}

.push-bottom-93 {
  position: relative;
  bottom: 93px;
}

.push-bottom-94 {
  position: relative;
  bottom: 94px;
}

.push-bottom-95 {
  position: relative;
  bottom: 95px;
}

.push-bottom-96 {
  position: relative;
  bottom: 96px;
}

.push-bottom-97 {
  position: relative;
  bottom: 97px;
}

.push-bottom-98 {
  position: relative;
  bottom: 98px;
}

.push-bottom-99 {
  position: relative;
  bottom: 99px;
}

.push-bottom-100 {
  position: relative;
  bottom: 100px;
}

.push-bottom-101 {
  position: relative;
  bottom: 101px;
}

.push-bottom-102 {
  position: relative;
  bottom: 102px;
}

.push-bottom-103 {
  position: relative;
  bottom: 103px;
}

.push-bottom-104 {
  position: relative;
  bottom: 104px;
}

.push-bottom-105 {
  position: relative;
  bottom: 105px;
}

.push-bottom-106 {
  position: relative;
  bottom: 106px;
}

.push-bottom-107 {
  position: relative;
  bottom: 107px;
}

.push-bottom-108 {
  position: relative;
  bottom: 108px;
}

.push-bottom-109 {
  position: relative;
  bottom: 109px;
}

.push-bottom-110 {
  position: relative;
  bottom: 110px;
}

.push-bottom-111 {
  position: relative;
  bottom: 111px;
}

.push-bottom-112 {
  position: relative;
  bottom: 112px;
}

.push-bottom-113 {
  position: relative;
  bottom: 113px;
}

.push-bottom-114 {
  position: relative;
  bottom: 114px;
}

.push-bottom-115 {
  position: relative;
  bottom: 115px;
}

.push-bottom-116 {
  position: relative;
  bottom: 116px;
}

.push-bottom-117 {
  position: relative;
  bottom: 117px;
}

.push-bottom-118 {
  position: relative;
  bottom: 118px;
}

.push-bottom-119 {
  position: relative;
  bottom: 119px;
}

.push-bottom-120 {
  position: relative;
  bottom: 120px;
}

.push-bottom-121 {
  position: relative;
  bottom: 121px;
}

.push-bottom-122 {
  position: relative;
  bottom: 122px;
}

.push-bottom-123 {
  position: relative;
  bottom: 123px;
}

.push-bottom-124 {
  position: relative;
  bottom: 124px;
}

.push-bottom-125 {
  position: relative;
  bottom: 125px;
}

.push-bottom-126 {
  position: relative;
  bottom: 126px;
}

.push-bottom-127 {
  position: relative;
  bottom: 127px;
}

.push-bottom-128 {
  position: relative;
  bottom: 128px;
}

.push-bottom-129 {
  position: relative;
  bottom: 129px;
}

.push-bottom-130 {
  position: relative;
  bottom: 130px;
}

.push-bottom-131 {
  position: relative;
  bottom: 131px;
}

.push-bottom-132 {
  position: relative;
  bottom: 132px;
}

.push-bottom-133 {
  position: relative;
  bottom: 133px;
}

.push-bottom-134 {
  position: relative;
  bottom: 134px;
}

.push-bottom-135 {
  position: relative;
  bottom: 135px;
}

.push-bottom-136 {
  position: relative;
  bottom: 136px;
}

.push-bottom-137 {
  position: relative;
  bottom: 137px;
}

.push-bottom-138 {
  position: relative;
  bottom: 138px;
}

.push-bottom-139 {
  position: relative;
  bottom: 139px;
}

.push-bottom-140 {
  position: relative;
  bottom: 140px;
}

.push-bottom-141 {
  position: relative;
  bottom: 141px;
}

.push-bottom-142 {
  position: relative;
  bottom: 142px;
}

.push-bottom-143 {
  position: relative;
  bottom: 143px;
}

.push-bottom-144 {
  position: relative;
  bottom: 144px;
}

.push-bottom-145 {
  position: relative;
  bottom: 145px;
}

.push-bottom-146 {
  position: relative;
  bottom: 146px;
}

.push-bottom-147 {
  position: relative;
  bottom: 147px;
}

.push-bottom-148 {
  position: relative;
  bottom: 148px;
}

.push-bottom-149 {
  position: relative;
  bottom: 149px;
}

.push-bottom-150 {
  position: relative;
  bottom: 150px;
}

.push-bottom-151 {
  position: relative;
  bottom: 151px;
}

.push-bottom-152 {
  position: relative;
  bottom: 152px;
}

.push-bottom-153 {
  position: relative;
  bottom: 153px;
}

.push-bottom-154 {
  position: relative;
  bottom: 154px;
}

.push-bottom-155 {
  position: relative;
  bottom: 155px;
}

.push-bottom-156 {
  position: relative;
  bottom: 156px;
}

.push-bottom-157 {
  position: relative;
  bottom: 157px;
}

.push-bottom-158 {
  position: relative;
  bottom: 158px;
}

.push-bottom-159 {
  position: relative;
  bottom: 159px;
}

.push-bottom-160 {
  position: relative;
  bottom: 160px;
}

.push-bottom-161 {
  position: relative;
  bottom: 161px;
}

.push-bottom-162 {
  position: relative;
  bottom: 162px;
}

.push-bottom-163 {
  position: relative;
  bottom: 163px;
}

.push-bottom-164 {
  position: relative;
  bottom: 164px;
}

.push-bottom-165 {
  position: relative;
  bottom: 165px;
}

.push-bottom-166 {
  position: relative;
  bottom: 166px;
}

.push-bottom-167 {
  position: relative;
  bottom: 167px;
}

.push-bottom-168 {
  position: relative;
  bottom: 168px;
}

.push-bottom-169 {
  position: relative;
  bottom: 169px;
}

.push-bottom-170 {
  position: relative;
  bottom: 170px;
}

.push-bottom-171 {
  position: relative;
  bottom: 171px;
}

.push-bottom-172 {
  position: relative;
  bottom: 172px;
}

.push-bottom-173 {
  position: relative;
  bottom: 173px;
}

.push-bottom-174 {
  position: relative;
  bottom: 174px;
}

.push-bottom-175 {
  position: relative;
  bottom: 175px;
}

.push-bottom-176 {
  position: relative;
  bottom: 176px;
}

.push-bottom-177 {
  position: relative;
  bottom: 177px;
}

.push-bottom-178 {
  position: relative;
  bottom: 178px;
}

.push-bottom-179 {
  position: relative;
  bottom: 179px;
}

.push-bottom-180 {
  position: relative;
  bottom: 180px;
}

.push-bottom-181 {
  position: relative;
  bottom: 181px;
}

.push-bottom-182 {
  position: relative;
  bottom: 182px;
}

.push-bottom-183 {
  position: relative;
  bottom: 183px;
}

.push-bottom-184 {
  position: relative;
  bottom: 184px;
}

.push-bottom-185 {
  position: relative;
  bottom: 185px;
}

.push-bottom-186 {
  position: relative;
  bottom: 186px;
}

.push-bottom-187 {
  position: relative;
  bottom: 187px;
}

.push-bottom-188 {
  position: relative;
  bottom: 188px;
}

.push-bottom-189 {
  position: relative;
  bottom: 189px;
}

.push-bottom-190 {
  position: relative;
  bottom: 190px;
}

.push-bottom-191 {
  position: relative;
  bottom: 191px;
}

.push-bottom-192 {
  position: relative;
  bottom: 192px;
}

.push-bottom-193 {
  position: relative;
  bottom: 193px;
}

.push-bottom-194 {
  position: relative;
  bottom: 194px;
}

.push-bottom-195 {
  position: relative;
  bottom: 195px;
}

.push-bottom-196 {
  position: relative;
  bottom: 196px;
}

.push-bottom-197 {
  position: relative;
  bottom: 197px;
}

.push-bottom-198 {
  position: relative;
  bottom: 198px;
}

.push-bottom-199 {
  position: relative;
  bottom: 199px;
}

.push-bottom-200 {
  position: relative;
  bottom: 200px;
}
/*# sourceMappingURL=style.css.map */