// @import 'header';

// 變數 > 型態
$fontSize : 18px; //數值
$headerH : 120px;
$h1: 48px;
$h2: 40px;
$h3: 36px;
$h4: 24px;
$h5: 18px;
$bgc : #f7c4c4; //顏色
$fontfamily : '微軟正黑'; // 字串
$list : 10px 20px 10px; //list 
$map : (
  'key' : 'value',
  'h1' : 48px   
); // map
$boolean : true; // 布林值
$null : null; // null 把屬性刪掉


.title {
    font-size: map-get($map , h1 );
    background-color: $null;
}

.title::after {
    content: '文字'; // 字串
    display: block; // 數值
}

body {
    background-color: $bgc;
    font-size: $fontSize;
    margin : $list;
}

h1 {
    font-size: $h1;
}

h2 {
    font-size: $h2;
}

h3 {
    font-size: $h3;
}
h4 {
    font-size: $h4;
}

header {
    height:  $headerH;
    width: 100%;
}

// 變數位置

//==== 全域變數

$width : 100px; 

.modal {
    $width : 20px !default ; // 區域變數
    width: $width;
}

// body .wrapper header {
// }
// body .wrapper footer {
// }

body {
    .container {
        header {
           height: 120px;
           .logo {
               width: 100px;
               height: 100px;
           }
        }
        footer {
            height: 300px;
        }
    }
}


















