$bgc : rgb(119, 0, 255); //顏色
$fontcolor : rgb(255, 255, 255);

$color-map :('primary' : #005da3,
    'secondary' : #d0d0d0,
    'success' : #009b0d,
    'danger' : #ff0000,
    'warning' : #e9ff20,
    'info' : rgb(113, 175, 255));