$fontSize : 24px; //數值

$h1: 48px;
$h2: 40px;
$h3: 36px;
$h4: 24px;
$h5: 18px;

$fontfamily : '微軟正黑'; // 字串

$title_h :('h1' : 48px,
    'h2' : 40px,
    'h3' : 36px,
    'h4' : 30px,
    'h5' : 24px); // map